FEED_TITLE=My Podcast
FEED_DESCRIPTION=A personal podcast feed
FEED_AUTHOR=Your Name
FEED_EMAIL=you@example.com
FEED_LANGUAGE=en-us
FEED_DOMAIN=podcast.yourdomain.com
FEED_IMAGE_URL=
ROUTE53_HOSTED_ZONE_ID=Z05651402MMJYT41TF7F
